:root {
    --color-light-xl: #fff;
    --color-light-l: #f6f6f6;
    --color-light-s: #fafafa;
    --color-dark-s: #cdcdcd;
    --color-dark-m: #b2b2b2;
    --color-dark-l: #545454;
    --color-dark-xl: #4c4c4c;
    --color-dark-2xl: #444;
    --color-dark-3xl: #292929;
    --color-primary: #f1cdb3;
    --color-primary-light: #fddcc4;
    --start-screen-gradient-background: #211f20;
    --footer-gradient-background: #211f20;

    --font-family: "Georgia", sans-serif;
    --second-family: "Arial", sans-serif;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
li {
    list-style: none;
    color: inherit;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

img {
    max-width: 100%;
}

html,
body {
    height: 100%;
    margin: 0;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    --font-family: "Georgia", sans-serif;
}

.hero {
    height: 100vh;
    min-height: 650px;
    background: url(../img/bg/noise_transparent.png), url(../img/bg/start-screen-gradient-background.png);
}

.container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
}

.hero__container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    padding: 30px 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {}

.logo__title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: var(--color-primary);
    margin-bottom: 10px;
    white-space: nowrap;
}

.logo__subtitle {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 0.1em;
    color: var(--color-light-xl);
    white-space: nowrap;
}

.nav {}

.nav__list {
    display: flex;
    column-gap: 35px;
}

.nav__item {
    border-bottom: 3px solid transparent;
    padding: 0 0 6px 0;
    transition: all 0.3s;
}

.nav__item:hover {
    border-color: var(--color-primary);
}

.nav__link {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 15px;
    color: var(--color-light-s);
    white-space: nowrap;
}

.hero__content {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    overflow: hidden;
}

.hero__desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    row-gap: 42px;
    max-width: 460px;
}

.title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 44px;
    line-height: 130%;
    color: var(--color-light-xl);
}

.paragraph {
    font-family: var(--second-family);
    font-weight: 400;
    line-height: 160%;
}

.hero__paragraph {
    font-size: 15px;
    color: var(--color-dark-s);
}

.btn {
    border-radius: 100px;
    padding: 15px 45px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: var(--color-dark-3xl);
}

.hero__btn-wrap {}

.hero__btn {
    display: inline-block;  
    background: var(--color-primary);
}

.btn:hover {
    background: var(--color-primary-light);
}

.hero__img-wrap {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.hero__img {}

/* ------------------------------ About ---------------------------- */

.about-pets {}

.about__img-wrap {}

.about__img {}

.about__content {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 120px;
    padding: 80px 0 100px 0;
}

.about__desc {
    max-width: 430px;
}

.about__title {
    color: var(--color-dark-l);
}

.about__paragraph {
    color: var(--color-dark-xl);
}

/* --------------------FRIENDS------------------- */

.friends {
    background: var(--color-light-l);
    padding: 80px 20px 100px;
}

.catalog__title {
    color: var(--color-dark-l);
    text-align: center;
    min-width: 400px;
}

.catalog__slider {
}
.slider__control {
}
.slider__control-prev {
}
.slider__control-next {
}

.friends__content {
}
.friends__catalog {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.friends__card {
    overflow: hidden;
    background: var(--color-light-s);
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
    padding-bottom: 30px;
}
.friend__img-wrap {
    max-height: 270px;
}

.friend__img {
}

.friends__paragraph {
    font-family: var(--font-family);
    font-size: 20px;
    letter-spacing: 0.06em;
    text-align: center;
    color: var(--color-dark-l);
}

.subtitle {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.06em;
    text-align: center;
    color: var(--color-dark-l);
}

.friends__subtitle {
}

.friend__btn {
    border: 2px solid var(--color-primary);
}